<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Visualization - Welcome</title>
    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <!-- <h1>Hello, world!</h1>
    <form method="post" enctype="multipart/form-data" action="upload">
      <input type="file" name="file"></input>
      <button type="submit" value="upload">submit</button>
    </form> -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="text" style="color:#e2e2e2">Music Visualization</h1>
            <h3 class="text" style="color:#cccccc">Upload your music here</h3>
            <br>
            <div class="form-container">
              <form method="post" enctype="multipart/form-data" action="upload">
                <div class="file_button_container">
                  <input type="file" name="file" onchange="doUpload(this.form)"></input>
                </div>
              </form>
            </div>
            <img id="loading" src="images/loading.gif"></img>
        </div>
    </header>
    <script src="libs/jquery.min.js"></script>
    <script src="scripts/index.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
